.add-layout{
    width: 30rem;
    margin: 5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(255,255,255,0.5);
    z-index: 3;
    background-color: rgb(238,79,95);
    color: white;
    font-size: 1.2rem;
}

.add-layout-heading{
    margin: 1rem auto 2rem auto;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
}

.add-layout-item{
    margin: 1rem 0;
    display: flex;
}

.add-layout-item>label{
    display: inline-block;
    width: 10rem;
}

.add-layout-item>input, .add-layout-item>textarea{
    flex: 1;
    border: none;
    font-size: 1rem;
    font-family: inherit;
}



.add-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: white;
    color: rgb(238,79,95);
    font-size: 1.2rem;
    font-weight: 700;
}

.add-modal{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0,0,0);
    opacity: 0.2;
}

.add-modal-close-div{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.add-modal-close{
    height: 1.5rem;
    padding: 1rem;
    fill: white;
}